
main {
    height: 90vh;
    background-color: black;
    background-image: url("../img/il_570xN.5022632129_kwst.webp");
    background-size: cover;
}

footer {
    height: 10vh;
    background-color: rgb(79, 79, 79);
}

.creerGuerrier {
    height: 100%;
}

.display {
    height: 90%;
}

.combat {
    height: 10%;
}

.centre {
    width: 35rem;
    height: 19rem;
}